body {
  background-color: beige;
}

h1 {
  color: brown;
  transition: color 0.25s ease-in-out;
}

.clickColor {
  color: darkblue;
}

.defaultStyle {
  font-family: "Times New Roman", Times, serif;
}
